{% extends 'app/base.html.twig' %}

{% block page_title %}Mes clubs
{% endblock %}

{% block page_content %}
	{% if clubs|length > 0 %}
		<div class="row g-3">
			{% for club in clubs %}
				<div class="col-12 col-md-6 col-lg-4">
					<a href="{{ subdomainService.generateClubUrl(club.subdomain, '/') }}" class="card card-sm text-decoration-none">
						<div class="card-body">
							<div class="d-flex align-items-center mb-3">
								<span class="bg-blue text-white avatar">
									<i class="ti ti-windsock"></i>
								</span>
								<div class="ms-3">
									<div class="fw-bold text-dark">{{ club.name }}</div>
									<div class="text-secondary small">{{ club.subdomain }}.{{ subdomainService.domain }}</div>
								</div>
							</div>
							<div class="d-flex gap-2">
								{% if app.user.isManagerOfClub(club) %}
									<span class="badge bg-green text-white">Gestionnaire</span>
								{% endif %}
								{% if app.user.isInspectorOfClub(club) %}
									<span class="badge bg-yellow text-white">Inspecteur</span>
								{% endif %}
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="empty">
			<div class="empty-icon">
				<i class="ti ti-windsock"></i>
			</div>
			<p class="empty-title">Aucun club</p>
			<p class="empty-subtitle text-secondary">
				Vous n'avez pas encore accès à un club actif.
			</p>
			<p class="empty-subtitle text-secondary">
				Contactez votre gestionnaire de club pour obtenir une invitation.
			</p>
		</div>
	{% endif %}
{% endblock %}
