{% extends "admin/base.html.twig" %}

{% block page_title %}Tableau de bord
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Bienvenue dans l'administration</h3>
					<p class="text-secondary">
						Vous êtes connecté en tant qu'administrateur. Utilisez le menu de navigation pour accéder aux différentes sections de l'administration.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
